body {
    font-family: "Montserrat";
    margin: 0;
    scrollbar-color: red;
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: greenyellow;
}

.left_group {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.logo img {
    height: 60px;
}

.right_menu nav {
    display: flex;
    gap: 30px;
}

.right_menu a {
    text-decoration: none;
    color: black; 
    transition: color 0.3s ease;
}
.right_menu a:hover{
    color: yellow;
}
.googlemap {
    padding: 50px;
    display: flex;
    float: right;
    gap: 30px;
    text-wrap: wrap;
}
.text{
    width: 500px;
}
.stopka{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px; 
    background-color: greenyellow;
}
.slider{
    text-align: center;
    padding: 40px;
    
}
.menu{
    text-align: center;
}
.onas_img{
    display: flex;
    padding: 20px;
    display: inline-block;
    text-align: center;
    margin-left: 200px;
    margin-top: 30px;
}
.onas_text{
    text-wrap: wrap;
    float: right;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}